{% extends "blog/base.html" %}
{% block description %}{{post.seo_description}}{% endblock %}
{% block title %}{{post.seo_title}}{% endblock %}
{% block content %}	
<div class="row">
	<div class="col-md-8">
		<div class="alert alert-danger" role="alert">Preview of the Post</div>
		<div class="page-header">
			<h2>{{post.title}}</h2>
		</div>
		<!-- /.page-header -->		
		<p>Written by {{post.author}} on {{post.published}} in <a href="{{post.category.get_absolute_url}}">{{post.category}}</a></p>		
		{{post.content|linebreaks}}	
		<hr>
		<h4>Comments <small>Total Number of Comments {{post.comments.count}}</small></h4>		
		<p class="text-center">
			<a href="{% url 'blog:add_comment' slug=post.slug %}" class="btn btn-default">Leave a Comment</a>			
		</p>
		{% for comment in post.comments.all %}
			<div class="panel panel-default">
				<div class="panel-heading">
					{{comment.user}} <i>commented on {{comment.created}}</i>
				</div>
				<!-- /.panel-heading -->				
				<div class="panel-body">
					<p>{{comment.body}}</p>						
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel panel-default -->			
			{% empty %}
			<p>There is no comment.</p>
		{% endfor %}
			</div>
	<!-- /.col-md-8 -->
	<div class="col-md-4">
		<div class="page-header">
			<h2>Sidebar</h2>
		</div>
	</div>
	<!-- /.col-md-4 -->
{% endblock content %}
</div>
<!-- /.row -->